laravel
src/.composer
src/wp
src/laravel
src/vue
src/react
src/web/vendor
src/web/composer.lock
src/web/.phpunit.cache
src/web/seleniumTests/screenshots
src/web/.scannerwork
src/.bash_history
src/.viminfo
node_modules
mysql/data
redis/data
netdata/netdatacache
netdata/netdataconfig
netdata/netdatalib
.wp-cli
.vscode
nginx/log
sonarqube/data
sonarqube/extensions
sonarqube/logs
